body{
    background-color: #2C7DA0;
}

button{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color:#01497C ;
}

.divbtn{
    text-align: center;
    margin: auto;
}
#title{
    content: "dkfj";
}